* {
    box-sizing: border-box;
}

.body-tag {
    margin: 0;
    max-width: 1800px;
    font-family: 'Oswald', sans-serif;
}

.hide {
    display: none!important;
}

.main-header {
    display: flex;
    padding: 0 20px;
}

.main-title {
    background-color: #F25D07;
    color: white;
    padding: 5px 10px;
}

.notes-area-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.notes-list-area-container {
    width: 30%;
    position: relative;
}

.primary-button {
    background-color: #F25D07;
    color: white;
    padding: 0 5px;
    cursor: pointer;
    border: 0;
    text-decoration: none;
}

.create-note-modal {
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    margin-bottom: 16px;
    position: relative;
}

.close-note-modal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    padding: 0 10px;
}

.create-note-submit {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.primary-button:hover {
    box-shadow: 3px 3px 1px black;
}

.create-note-alert {
    margin: 10px 0 0 0;
}

.create-note-element {
    margin-bottom: 20px;
}

.form-element-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
}

.form-label {
    margin-bottom: 4px;
}

.form-element {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.notes-list-title {
    margin: 0 0 10px 0;
}

.note-list-title {
    margin: 0 0 2px 0;
}

.note-viewer-area {
    width: 60%;
    box-shadow: 0px 0px 10px grey;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
}

.notes-title {
    margin: 5px 10px 10px 0;
    background-color: #F25D07;
    color: white;
    padding: 0 5px;
    box-shadow: 3px 3px 1px black;
}

.notes-body {
    margin: 0;
    padding: 10px;
}

.notes-viewer-header {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.vertical-divider {
    width: 2px;
    background-color: black;
}

.note-list-container {
    cursor: pointer;
    padding: 10px;
    border-bottom: 5px solid black;
    border-left: 5px solid transparent;
    color: #333;
    position: relative;
}

.note-delete-button {
    position: absolute;
    right: -20px;
    top: 26px;
    padding: 5px 10px;
    background-color: #F25D07;
    color: white;
    z-index: 1;
    display: none;
}

.note-delete-button:hover {
    box-shadow: 3px 3px 1px black;
}

.note-list-container:hover .note-delete-button {
    display: flex;
}

.note-list-container:hover,
.note-list-container.selected-note {
    border-bottom: 5px solid #F25D07;
    border-left: 5px solid #F25D07;
}