* {
    box-sizing: border-box;
}

.max-width-container {
    max-width: 1024px;
    margin: 0 auto;
}

.hide {
    display: none!important;
}

.background-dark {
    background-color: $dark-color;
}

.background-light {
    background-color: $light-color;
}

.text-light {
    color: $light-color!important;
}

.text-right {
    text-align: right;
}

.primary-button {
    background-color: $primary-color;
    color: $light-color;
    padding: 0 5px;
    cursor: pointer;
    border: 0;
    text-decoration: none;
}

.primary-button:hover {
    box-shadow: 3px 3px 1px $dark-color;
}