.landing-page {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

p {
    line-height: 2;
    font-size: 12px;
    color: $grey-color;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}

.landing-header {
    background-color: $primary-dark;
    padding: 10px;
}

.landing-nav__link {
    margin: 0 0 0 16px;
    padding: 0 0 5px 0;
    color: $light-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.landing-nav__link:hover {
    border-bottom: 2px solid $light-color;
}

.landing-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-header__logo-container {
    display: flex;
    align-items: center;
    color: $light-color;
}

.landing-header__logo {
    width: 80px;
    fill: $light-color;
    margin: 0 5px 0 0;
}

.hero-area {
    background-color: $primary-light;
    padding: 130px 0 46px 0;
    color: $light-color;
}

.hero-area__inner {
    display: flex;
    align-items: flex-end;
}

.hero-area__info {
    width: 54%;
    margin: 0 50px 0 0;
}

.hero-area__info-title {
    font-size: 26px;
    margin: 14px 0;
}

.landing-page__button--light {
    background-color: $light-color;
    font-weight: bold;
    color: $dark-color;
    padding: 5px 10px;
    display: inline-block;
}

.hero-area__image {
    margin-bottom: -74px;
    box-shadow: 0px 10px 76px $dark-color;
}

.header-seperator {
    width: 70px;
    height: 1px;
    margin: 10px 0;
}

.header-center,
.break-area__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-area {
    padding: 160px 0 60px 0;
}

.features-area__features-container {
    display: flex;
    margin: 60px 0 0 0;
}

.features-area__content-item {
    display: flex;
}

.features-area__content {
    width: 25%;
}

.features-area__image-container {
    flex: 1 1 auto;
    margin: 0 40px;
    text-align: center;
}

.features-area__icon-container {
    margin: 0 10px;
}

.features-area__feature-title,
.benefits-area__benefits-title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}

.features-area__content-last {
    margin: 20px 0 0 0;
}

.break-area {
    background-color: $primary-light;
    padding: 64px 0;
    color: $light-color;
}

.break-area__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.break-area__image-container {
    margin: 80px 0 70px 0;
}

.benefits-area {
    padding: 60px 0;
}

.benefits-area__inner {
    display: flex;
    justify-content: space-between;
}

.benefits-area__image-container {
    width: 60%;
}

.benefits-area__benefits-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.benefits-area__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.benefits-area__benefits {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 46px 0 0 0;
}

.benefits-area__benefits-item {
    display: flex;
}

.benefits-area__icon {
    font-size: 20px;
    margin: 0 0 0 10px;
}

.benefits-area__content {
    text-align: right;
}