.landing-page {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

p {
    line-height: 2;
    font-size: 12px;
    color: $grey-color;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}

.landing-header {
    background-color: $primary-dark;
    padding: 20px;
}

.landing-header__title {
    display: none;
}

.landing-nav__link {
    margin: 0 0 0 16px;
    padding: 0 0 5px 0;
    color: $light-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.landing-nav__link:hover {
    border-bottom: 2px solid $light-color;
}

.mobile-menu {
    display: none;
}

.mobile-menu__icon {
    fill: $light-color;
}

.landing-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-header__logo-container {
    display: flex;
    align-items: center;
    color: $light-color;
}

.landing-header__logo {
    width: 80px;
    fill: $light-color;
    margin: 0 5px 0 0;
}

.hero-area {
    background-color: $primary-light;
    padding: 130px 20px 46px 20px;
    color: $light-color;
}

.hero-area__inner {
    display: flex;
    align-items: flex-end;
}

.hero-area__info {
    width: 54%;
    margin: 0 50px 0 0;
}

.hero-area__info-title {
    font-size: 26px;
    margin: 14px 0;
}

.landing-page__button--light {
    background-color: $light-color;
    font-weight: bold;
    color: $dark-color;
    padding: 5px 10px;
    display: inline-block;
}

.hero-area__image {
    margin-bottom: -74px;
    box-shadow: 0px 10px 76px $dark-color;
}

.header-seperator {
    width: 70px;
    height: 1px;
    margin: 10px 0;
}

.header-center,
.break-area__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-area {
    padding: 160px 20px 60px 20px;
}

.features-area__features-container {
    display: flex;
    margin: 60px 0 0 0;
}

.features-area__content-item {
    display: flex;
}

.features-area__content {
    width: 25%;
}

.features-area__image-container {
    flex: 1 1 auto;
    margin: 0 40px;
    text-align: center;
}

.features-area__icon-container {
    margin: 0 10px;
}

.features-area__feature-title,
.benefits-area__benefits-title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}

.features-area__content-last {
    margin: 20px 0 0 0;
}

.break-area {
    background-color: $primary-light;
    padding: 64px 20px;
    color: $light-color;
}

.break-area__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.break-area__image-container {
    margin: 80px 0 70px 0;
}

.benefits-area {
    padding: 60px 20px;
}

.benefits-area__inner {
    display: flex;
    justify-content: space-between;
}

.benefits-area__image-container {
    width: 60%;
}

.benefits-area__benefits-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.benefits-area__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.benefits-area__benefits {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 46px 0 0 0;
}

.benefits-area__benefits-item {
    display: flex;
}

.benefits-area__icon {
    font-size: 20px;
    margin: 0 0 0 10px;
}

.benefits-area__content {
    text-align: right;
}

.price {
    background-color: $primary-light;
    padding: 46px 20px;
}

.price__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $light-color;
}

.price__title-description {
    text-align: center;
    color: $light-color;
}

.price__card-container {
    display: flex;
    justify-content: center;
}

.price__card {
    margin: 40px 0 0 0;
    box-shadow: 0px 0px 8px $grey-color;
    text-align: center;
}

.price__card-title {
    padding: 18px 0;
    margin: 0;
    background-color: $dark-color;
    color: $light-color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.price__card-body {
    padding: 40px 80px;
    background-color: $light-color;
}

.price__card-cost {
    margin: 0;
    font-size: 18px;
}

.price__card-cost-description {
    color: $grey-color;
    font-size: 12px;
    margin: 5px 0 0 0;
}

.price__card-features-list {
    list-style: none;
    margin: 16px 0 30px 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.price__card-feature {
    margin: 10px 0;
}

.price__card-button {
    padding: 10px 14px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
}

.follow {
    padding: 46px 0;
}

.follow__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow__title-description {
    max-width: 60%;
    text-align: center;
}

.follow__links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}

.follow__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.follow__link-image {
    width: 30px;
}

.follow__link-emoji {
    font-size: 26px;
}

.main-footer {
    background-color: $primary-light;
    padding: 46px 0;
}

.main-footer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__logo {
    width: 30%;
    fill: $light-color;
}

.main-nav__title {
    color: $light-color;
    font-weight: normal;
    margin: 0 0 0 10px;
}

@media (max-width: 850px) {
    .hero-area {
        padding: 20px;
    }
    
    .hero-area__inner {
        display: block;
    }

    .hero-area__info {
        margin-bottom: 70px;
        width: 100%;
    }

    .features-area__features-container {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .features-area__image-container {
        margin: 20px 0;
    }

    .features-area__content {
        width: 100%;
        display: flex;
    }

    .features-area__content-last {
        margin: 0
    }

    .benefits-area__inner {
        flex-direction: column;
    }

    .benefits-area__image-container {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .benefits-area__benefits-container {
        width: 100%;
    }

    .benefits-area__benefits-item {
        margin: 0 0 26px 0;
    }
}

@media (max-width: 400px) {
    .mobile-menu {
        display: block;
    }
    
    .landing-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        height: 100vh;
        width: 100vw;
        min-height: 500px;
        overflow-y: auto;
        background-color: $primary-dark;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
    }
    
    .landing-nav__link {
        margin: 0;
        padding: 0;
        font-size: 36px;
    }

    .features-area__content {
        display: block;
    }

    .features-area__content-item {
        margin: 20px 0;
    }
}